
.header h1{
    display: flex;
    justify-content: center;
    position: relative;
}
.header-border{
    display: flex;
    justify-content: center;
    border-top: 4px solid aqua;
    position: absolute;
    left: 40%;
    top: 6%;
    width: 2%;
    height: 2px;
}

.container-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    background-color: white;
    border: 2px solid black !important;
    
}